
butterfish_pull_and_analysis_v2A.Rmd
history1.r
history2.r
.Rhistory
.RData
*.png
.vscode/launch.json
*.html
.Rproj.user
connect.r
*.xls
*.Rproj
*.rdb
quantify_compliance/quantify_compliance_cache/html/__packages
*.RData
*.rdx
*.woff
*.js
quantify_compliance/quantify_compliance_files/libs/bootstrap/bootstrap-icons.css
quantify_compliance/quantify_compliance_files/libs/bootstrap/bootstrap.min.css
quantify_compliance/quantify_compliance_files/libs/quarto-html/quarto-syntax-highlighting.css
quantify_compliance/quantify_compliance_files/libs/quarto-html/tippy.css
