.RData
.Rhistory
.Rproj.user
.vscode/launch.json
*.csv
*.html
*.ipynb
*.jpeg
*.jpg
*.js
*.png
*.RData
*.RDataTmp
*.rdb
*.rds
*.rdx
*.rmarkdown
*.sql
*.woff
*.xls
/.quarto/
bootstrap-icons.css
bootstrap.min.css
butterfish_pull_and_analysis_v2A.Rmd
compare_4_files/compare_4_files.qmd
compare_catch/compare_catch_plots0.R
connect.r
db_compliance/dnf_2022.R
db_compliance/RData_big
fishing_effort_location/flat_file_heatmap.qmd
fishing_effort_location/flat_file_heatmap.R
fishing_effort_location/flat_file_heatmap.Rmd
history1.r
history2.r
home-button.css
jquery-3.6.0.min.map
leaflet.css
leafletfix.css
mapview-popup.css
mapview.css
non_compliant_areas/.RDataTmp2
quantify_compliance_2023/quantify_compliance_for_2022
quantify_compliance/quantify_compliance_cache/html/__packages
quantify_compliance/SA_non_compliant_and_has_logbooks.csv
quarto-syntax-highlighting.css
rstudio_leaflet.css
temp*
tippy.css
/auxfunctions.Rcheck
/egregious_violators/egregious_violators_start_cache
*.zip
