export("add_cnt_in_gr", "add_compliant_after_override",
       "add_count_contacts", "aux_fun_for_dates",
       "change_fields_arr_to_dates",
       "change_to_dates", "clean_all_csvs", "clean_headers",
       "clean_names_and_addresses", "clean_weeks",
       "combine_rows_based_on_multiple_columns_and_keep_all_unique_values",
       "compl__back_to_longer_format", "compliance_cleaning",
       "concat_unique", "concat_unique_sorted",
       "connect_to_secpr", "corresp_cleaning",
       "count_uniq_by_column",
       "create_dir_if_not",
       "data_overview", "find_col_name", "fix_names",
       "function_message_print", "get_compl_and_corresp_data",
       "get_compl_by", "get_current_file_directory",
       "get_username",
       "join_all_csvs",
       "join_same_kind_csvs", "legend_for_grid_arrange",
       "list_sort_uniq", "load_csv_names",
       "load_csv_names_in_one_df", "load_xls_names",
       "my_headers_case_function", "my_read_xlsx", "my_tee",
       "my_to_sf", "prepare_csv_names", "pretty_print",
       "print_df_names", "read_an_answer",
       "read_csv_w_eofs", "read_rds_or_run",
       "read_rds_or_run_no_db",
       "remove_empty_cols", "save_plot_to_file",
       "separate_permits_into_3_groups", "set_work_dir",
       "set_work_dir_local", "title_message_print",
       "trim_all_vessel_ids_simple",
       "vessels_permits_id_clean",
       "write_to_1_flat_file")

import(
  dplyr
)

importFrom("crayon", "bgCyan")
importFrom("crayon", "blue")
importFrom("cowplot", "get_legend")
importFrom("keyring", "key_list")
importFrom("keyring", "key_list")
importFrom("keyring", "key_get")
importFrom("magrittr", "%<>%")
importFrom("DBI", "dbConnect")
importFrom("DBI", "dbDriver")
importFrom("data.table", "fread")
importFrom("utils", "head")
importFrom("openxlsx", "read.xlsx")
importFrom("lubridate", "today")
importFrom("ggplot2", "ggsave")
importFrom("rstudioapi", "getSourceEditorContext")
importFrom("sf", "st_crs")
importFrom("sf", "st_as_sf")
importFrom("tictoc", "tic")
importFrom("tictoc", "toc")
importFrom("purrr", "map")
importFrom("purrr", "imap")
importFrom("purrr", "map_df")
importFrom("readr", "read_csv")
importFrom("readr", "read_rds")
importFrom("readr", "write_rds")
importFrom("readr", "read_lines")
importFrom("readr", "cols")
importFrom("rlang", "sym")
importFrom("rlang", ":=")
importFrom("rlang", "flatten")
importFrom("tidyr", "pivot_longer")
importFrom("tidyr", "pivot_wider")
importFrom("tidyr", "separate_wider_delim")
importFrom("tidyr", "replace_na")
importFrom("stringr", "str_glue")
importFrom("stringr", "str_squish")
importFrom("stringr", "str_replace_all")
importFrom("stringr", "str_trim")
importFrom("tidyselect", "any_of")
importFrom("tidyselect", "all_of")
importFrom("tidyselect", "where")
