export("add_cnt_in_gr",
  "add_compliant_after_override",
  "add_count_contacts",
  "aux_fun_for_dates",
  "change_fields_arr_to_dates",
  "change_to_dates",
  "clean_all_csvs",
  "clean_headers",
  "clean_names_and_addresses",
  "clean_weeks",
  "combine_rows_based_on_multiple_columns_and_keep_all_unique_values",
  "compl__back_to_longer_format",
  "compliance_cleaning",
  "concat_unique_sorted",
  "concat_unique",
  "connect_to_secpr",
  "corresp_cleaning",
  "count_uniq_by_column",
  "create_dir_if_not",
  "current_project_paths",
  "data_overview",
  "find_col_name",
  "fix_names",
  "function_message_print",
  "get_compl_and_corresp_data",
  "get_compl_by",
  "get_current_file_directory",
  "get_username",
  "join_all_csvs",
  "join_same_kind_csvs",
  "legend_for_grid_arrange",
  "list_sort_uniq",
  "load_csv_names_in_one_df",
  "load_csv_names",
  "load_xls_names",
  "my_headers_case_function",
  "my_read_xlsx",
  "my_tee",
  "my_to_sf",
  "prepare_csv_full_path",
  "prepare_csv_names",
  "pretty_print",
  "print_df_names",
  "read_an_answer",
  "read_csv_w_eofs",
  "read_rds_or_run_no_db",
  "read_rds_or_run",
  "remove_empty_cols",
  "save_plot_to_file",
  "see_res_in_outfile",
  "separate_permits_into_3_groups",
  "set_work_dir",
  "title_message_print",
  "trim_all_vessel_ids_simple",
  "vessels_permits_id_clean",
  "write_csv_with_list_col",
  "write_to_1_flat_file")

import(
  dplyr
)

importFrom("cowplot", "get_legend")
importFrom("crayon", "bgCyan")
importFrom("crayon", "blue")
importFrom("data.table", "fread")
importFrom("DBI", "dbConnect")
importFrom("DBI", "dbDriver")
importFrom("ggplot2", "ggsave")
importFrom("keyring", "key_get")
importFrom("keyring", "key_list")
importFrom("lubridate", "today")
importFrom("magrittr", "%<>%")
importFrom("openxlsx", "read.xlsx")
importFrom("purrr", "imap")
importFrom("purrr", "map_df")
importFrom("purrr", "map")
importFrom("readr", "cols")
importFrom("readr", "read_csv")
importFrom("readr", "read_lines")
importFrom("readr", "read_rds")
importFrom("readr", "write_rds")
importFrom("rlang", ":=")
importFrom("rlang", "flatten")
importFrom("rlang", "sym")
importFrom("rstudioapi", "getSourceEditorContext")
importFrom("sf", "st_as_sf")
importFrom("sf", "st_crs")
importFrom("stats", "setNames")
importFrom("stringr", "str_glue")
importFrom("stringr", "str_replace_all")
importFrom("stringr", "str_squish")
importFrom("stringr", "str_trim")
importFrom("tictoc", "tic")
importFrom("tictoc", "toc")
importFrom("tidyr", "pivot_longer")
importFrom("tidyr", "pivot_wider")
importFrom("tidyr", "replace_na")
importFrom("tidyr", "separate_wider_delim")
importFrom("tidyselect", "all_of")
importFrom("tidyselect", "any_of")
importFrom("tidyselect", "where")
importFrom("utils", "capture.output", "getAnywhere", "help")
importFrom("utils", "head")
